@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Inter:wght@400;500&display=swap');

@theme {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', serif;
}
@import "tailwindcss";